html, body {
	height:100%;
}

#wpwrap {
	height: 100%;
	overflow-y: hidden;
}

#wpcontent {
	padding-left: 0;
	height: 100%
}

#wpbody {
	height: 100%;
}

#wpbody-content {
	height: 100%;
    background-color: #FFF;
    padding-bottom: 0;
}

#storyform-editor {
	position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
}

#wpfooter {
	display: none;
}