.pullquote {
	background: rgb(255,253,190);
}

#storyform-add-overlay {
	position: absolute;
}

#storyform-add-overlay div{
	margin-top: 7px;
	margin-left: 7px;
	padding: 2px;
	width: 30px;
	height: 30px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	background-color: #000;
	background-color: rgba(0,0,0,0.9);
	cursor: pointer;
	color: white;
	font-size: 30px;
}

#storyform-add-overlay div:hover {
	box-shadow: 0 1px 3px rgba(0,0,0,0.8);
	background-color: #000;
	color: #2ea2cc;
}