html, body {
	overflow:auto;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

#wpcontent {
	padding: 10px 20px 0 40px;
}

.storyform-settings-dashboard{
	width:100%;
	height:500px;
}

.storyform-navigation-settings {
	background-color: rgb(248,248,248);
	padding: 20px;
	margin-bottom: 30px;
}

.storyform-navigation-group {
	float: left;
	padding-right: 30px;
}

.storyform-logo-color {
	min-width: 360px;
	padding-right: 10px;
}

.storyform-navigation-group:after {
	clear: both;
}

.storyform-input-group {
	margin-bottom: 30px;
}

.storyform-logo-color .storyform-input-group {
	margin-bottom: 20px;
}

.storyform-input-label {
	color: #222;
	vertical-align: top;
	line-height: 1.3;
	font-weight: 600;
	font-size: 14px;
	margin-bottom:10px;
}

.storyform-input-group label {
	margin-right:20px;
}

.storyform-input-group-menu {
	margin-bottom:10px;
}

.storyform-navigation-color label span{
	vertical-align: top;
	padding-right:10px;
	display:inline-block;
}

.storyform-navigation-settings .wp-picker-holder {
	position: absolute!important;
	z-index: 1000;
}

.storyform-navigation-submit {
	clear: both;
}

/* Browser preview */

.magazine {
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.storyform-navigation-preview{
	width: 100%;
	clear: both;
}

.storyform-browser {
	position: relative;
	width: 100%;
	margin:0;
	padding: 0;
}
.storyform-browser-head {
	width: 100%;
	background-color: rgb(204,204,204);
	border-top-left-radius:6px; 
	border-top-right-radius:6px;
}
.storyform-b-btns {
	padding: 5px 12px;
}
.storyform-b-btns div {
	display: inline-block;
	width: 11px;
	height: 11px;
	border-radius: 6px;
	margin: 0 1px 0 0;
}
.storyform-red {background-color: rgb(223,113,102);}
.storyform-yellow {background-color: rgb(230,198,69);}
.storyform-green {background-color: rgb(92,204,139);}
.storyform-b-tabs {
	height: 28px;
	width: 100%;
	background-color: rgb(230,230,230);
}
.storyform-b-tab {
	position: absolute;
	top: 8px;
	left: 70px
}
.storyform-browser-body {
	position: relative;
	width: 100%;
	height: 300px;
	background-color: #fff;
	overflow: hidden;
	margin-bottom: 30px;
}

.storyform-browser-body .navbar-minimized .navbar-toggle {
	position: absolute!important;
}
.storyform-browser-body .navbar-lines-button {
	padding: 4px!important;
}
.storyform-browser-body li {
	margin-bottom: 0;
}

.storyform-browser-body .navbar-full.vertical-links .navbar-nav {
	position: absolute!important;
	height: 250px;
}

[disabled] ~ label {
	color:#BBB;
}

@media screen and (max-width: 1100px){
	.storyform-settings-dashboard{
		height: 850px;
	}
}

@media screen and (max-width: 1000px) {
	.storyform-navigation-settings{
		width: 100%;
		float: none;
	}

	.storyform-navigation-preview{
		margin-left: 0;
		width: 100%;
		background-color:#FFF;
	}
}
